<h4 class="mt-5">文件上传</h4>
<div class="mb-5">
    <tabset>
        <tab heading="Result">
            <div *ngIf="switchStatus">
                <webuploader [options]="{pick: '#picker', disableWidgets: 'add-file'}" (onReady)="onReady($event)" (onDestroy)="onDestroy()">
                    <div class="wu-example">
                        <div id="thelist" class="uploader-list"></div>
                        <div class="btns">
                            <div id="picker">选择文件</div>
                            <button id="ctlBtn" class="btn btn-default">开始上传</button>
                        </div>
                    </div>
                </webuploader>
            </div>
            <button (click)="switchStatus=!switchStatus" class="btn btn-primary">{{switchStatus?'hide':'show'}}</button>
        </tab>
        <tab heading="HTML">
            <textarea highlight-js>
&lt;webuploader [options]="{pick: '#picker'}" (onReady)="onReady($event)" (onDestroy)="onDestroy()" class="wu-example">
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default btn-sm">开始上传</button>
    </div>
&lt;/webuploader>
        </textarea>
        </tab>
        <tab heading="Compontent">
            <textarea highlight-js [lang]="'typescript'">
import { Component, OnInit, ViewEncapsulation, ElementRef } from '@angular/core';
import { WebUploaderComponent, File, FileStatus } from 'ngx-webuploader';

declare const $: any;

@Component({
    selector: 'demo',
    templateUrl: './demo.component.html',
    styleUrls: ['./demo.component.scss'],
    encapsulation: ViewEncapsulation.None
})
export class DemoComponent {
    onReady(uploader: WebUploaderComponent) {
        let $list = $('#thelist'),
            state = 'pending',
            $btn = $('#ctlBtn');

        uploader.Instance
            // 当有文件添加进来的时候
            .on('fileQueued', (file: File) => {
                $list.append( '<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                '</div>' );
            })
            // 文件上传过程中创建进度条实时显示。
            .on('uploadProgress', (file: File, percentage: number) => {
                let $li = $( '#'+file.id ),
                    $percent = $li.find('.progress .progress-bar');

                // 避免重复创建
                if ( !$percent.length ) {
                    $percent = $('<div class="progress progress-striped active">' +
                    '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                    '</div>' +
                    '</div>').appendTo( $li ).find('.progress-bar');
                }

                $li.find('p.state').text('上传中');

                $percent.css( 'width', percentage * 100 + '%' );
            })
            .on('uploadSuccess', (file: File) => {
                $( '#'+file.id ).find('p.state').text('已上传');
            })
            .on('uploadError', (file: File) => {
                $( '#'+file.id ).find('p.state').text('上传出错');
            })
            .on('uploadComplete', (file: File) => {
                $( '#'+file.id ).find('.progress').hide();
            })
            .on('all', (type: string) => {
                if ( type === 'startUpload' ) {
                    state = 'uploading';
                } else if ( type === 'stopUpload' ) {
                    state = 'paused';
                } else if ( type === 'uploadFinished' ) {
                    state = 'done';
                }

                if ( state === 'uploading' ) {
                    $btn.text('暂停上传');
                } else {
                    $btn.text('开始上传');
                }
            })
        ;

        $btn.on( 'click', () => {
            if ( state === 'uploading' ) {
                uploader.Instance.stop();
            } else {
                uploader.Instance.upload();
            }
        });
    }
    
    onDestroy() {
        console.log('onDestroy');
    }
}    
        </textarea>
        </tab>
    </tabset>
</div>
<h4 class="mt-5">图片上传</h4>
<div class="mb-5">
    <tabset>
        <tab heading="Result">
            <webuploader [options]="imgOptions" (onReady)="onImgReady($event)" (onDestroy)="onImgDestroy()">
                <div id="uploader-demo" class="wu-example">
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">选择图片</div>
                </div>
            </webuploader> 
        </tab>
        <tab heading="HTML">
            <textarea highlight-js>
&lt;webuploader [options]="imgOptions" (onReady)="onImgReady($event)" (onDestroy)="onImgDestroy()">
    <div id="uploader-demo" class="wu-example">
        <div id="fileList" class="uploader-list"></div>
        <div id="filePicker">选择图片</div>
    </div>
&lt;/webuploader>
        </textarea>
        </tab>
        <tab heading="Compontent">
            <textarea highlight-js [lang]="'typescript'">
import { Component, OnInit, ViewEncapsulation, ElementRef } from '@angular/core';
import { WebUploaderComponent, File, FileStatus, Options, OptionsAccept } from 'ngx-webuploader';

declare const $: any;

@Component({
    selector: 'demo',
    templateUrl: './demo.component.html',
    styleUrls: ['./demo.component.scss'],
    encapsulation: ViewEncapsulation.None
})
export class DemoComponent {  
    imgOptions: Options = {
        // 自动上传。
        auto: true,
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',
        // 只允许选择文件，可选。
        accept: <OptionsAccept>{
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    };

    onImgReady(uploader: WebUploaderComponent) {

        let $list = $('#fileList'),
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 100 * ratio,
            thumbnailHeight = 100 * ratio;

        // 当有文件添加进来的时候
        uploader.Instance.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
                '</div>'
            ),
                $img = $li.find('img');

            $list.append($li);

            // 创建缩略图
            uploader.Instance.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.Instance.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.Instance.on('uploadSuccess', function (file) {
            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，现实上传出错。
        uploader.Instance.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.Instance.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });
    }

    onImgDestroy() {
        console.log('onDestroy');
    }
}    
        </textarea>
        </tab>
    </tabset>
</div>
<h4 class="mt-5">Hook</h4>
<p>hook的注册会倒置所有实例都有效，所以注册只能在 `WebUploaderModule.forRoot()` 中进行，打开 **Console** 查看示例效果。</p>
<div class="mb-5">
    <tabset>
        <tab heading="Result">
            <webuploader [options]="hookOptions" (onReady)="onHookReady($event)" (onDestroy)="onHookDestroy()">
                <div id="uploader-demo" class="wu-example">
                    <div id="hookFileList" class="uploader-list"></div>
                    <div id="hookFilePicker">选择图片</div>
                </div>
            </webuploader>
        </tab>
        <tab heading="App.Module.ts">
            <textarea highlight-js>
WebUploaderModule.forRoot(<WebUploaderConfig>{
    options: <Options>{
        swf: './assets/webuploader-0.1.5/Uploader.swf',
        server: '/fileupload'
    },
    path: './assets/webuploader-0.1.5/',
    dependentLib: './assets/zepto.min.js',
    hook(webUploader: any): Promise<any> {
        return new Promise<any>(resolve => {
            webUploader.Uploader.register({
                'add-file': 'addFiles'
            }, {
                addFiles: (files: File[]) => {
                    console.log('from hook', files)
                }
            });
        });
    }
})
            </textarea>
        </tab>
    </tabset>
</div>
